---
import { getCollection } from 'astro:content';

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;

const packages: { [name: string]: string[] } = {};

const packagesCollection = await getCollection('reference');
for (const pkg of packagesCollection) {
	const pathName = pkg.id.split('/');
	packages[pathName[0] || 'Unknown'] = pathName.slice(1);
}

console.log({ packages });

// TODO - AUTO SELECT LATEST VERSION AND REDIRECT TO IT
---

<BaseLayout
	title={`Reference | ${title}`}
	description={description}
	segment="reference"
>
	<slot />

	<slot slot="on-this-page" name="on-this-page" />

	<nav class="flex flex-col px-8 pb-8" slot="navigation">
		<div class="border-b py-4 border-gray-700">
			<label for="package" class="block text-gray-400 pb-1 pl-1 text-xs"
				>Package</label
			>
			<div class="flex flex-row gap-2">
				<select id="package" class="block w-full bg-gray-800 rounded-md p-2">
					{
						Object.keys(packages).map((pkg) => (
							<option value={pkg}>{pkg}</option>
						))
					}
				</select>
				<select id="version" class="block w-full bg-gray-800 rounded-md p-2">
					<option value="">latest</option>
					{
						// versions.map((version) => (
						// 	<option value={version}>{version}</option>
						// ))
					}
				</select>
			</div>
		</div>

		<slot name="navigation-list" />
	</nav>
</BaseLayout>
