---
import DocsLayout from '@/layouts/documentation/DocsLayout.astro';
import { getCollection, render } from 'astro:content';

export async function getStaticPaths() {
	const pages = await getCollection('docs');
	return pages.map((page) => ({
		params: { slug: page.id },
		props: { page, group: page.id.split('/') },
	}));
}

const { page, group } = Astro.props;
const { Content, headings } = await render(page);

console.log({ headings });
---

<DocsLayout title={page.data.title} description={page.data.description}>
	<p class="mt-4 text-gray-500">
		{group.join(" > ")} > {page.data.title}
	</p>

	<h1 class="mt-8">{page.data.title}</h1>

	<Content />

	<div slot="on-this-page">
		<ul>
			{
				headings.map((heading) => (
					<li>
						<a
							class="block hover:text-neutral-200 py-1"
							style={`padding-left: ${heading.depth - 2}rem`}
							href={`docs/${page.id}#${heading.slug}`}
						>
							{heading.text}
						</a>
					</li>
				))
			}
		</ul>
		<a
			href="https://github.com/letsync/letsync/tree/main/website/src/pages/docs"
			class="mt-8 block px-2 pt-4 border-t border-gray-700"
		>
			Edit this page on GitHub
		</a>
	</div>
</DocsLayout>
