---
import GitHubLogo from '@/assets/GitHub.svg';
import XLogo from '@/assets/X.svg';
import { cn } from '@/lib/utils';

interface Props {
	title: string;
	description: string;
	segment: string;
}

const { title, description, segment } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<base href="/" />
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="description" content={description} />
	</head>
	<body class="text-gray-200 h-screen antialiased cursor-default text-sm">
		<header
			class="sticky top-0 z-40 backdrop-blur-lg border-b border-gray-700/50 w-full"
		>
			<div class="grid w-[80vw] max-w-[96rem] mx-auto grid-cols-3 px-4 py-2">
				<a href="/" class="ml-8 py-2">
					<img src="/logo.svg" alt="letsync.dev" class="inline-block" />
					<span
						class="text-xs ml-2 text-blue-400 tracking-wider font-semibold inline"
					>
						BETA
					</span>
				</a>
				<input
					type="text"
					placeholder="Search / AI Assistant"
					class="rounded-full invisible px-6 py-2 bg-gray-900 border border-gray-700 w-full"
				/>
				<nav class="flex justify-end gap-2">
					<a
						href="https://x.com/adityab_tech"
						class="mt-1 p-2 rounded-full size-8 text-gray-400 hover:text-gray-200 bg-white"
					>
						<img src={XLogo.src} />
					</a>
					<!-- <a
						href="https://discord.gg/letsync"
						class="px-4 text-gray-400 hover:text-gray-200"
					>
						Discord
					</a> -->
					<a
						href="https://github.com/AdityaBorkar/letsync"
						class="mt-1 p-2 rounded-full size-8 text-gray-400 hover:text-gray-200 bg-white"
					>
						<img src={GitHubLogo.src} />
					</a>
					<!-- <a
						class="hover:bg-gray-100 bg-gray-300 font-medium text-gray-950 transition-all duration-300 rounded-full px-4 py-2"
						href="https://console.letsync.dev/"
					>
						Login
					</a> -->
				</nav>
			</div>
		</header>

		<div class="top-0 left-0 w-full absolute">
			<div
				class="h-screen *:h-screen grid grid-cols-[16rem_auto_16rem] w-[80vw] max-w-[96rem] mx-auto *:pt-16"
			>
				<aside
					class="flex w-full overflow-auto max-w-[16rem] text-gray-300 ml-auto flex-col gap-2"
				>
					<nav class="flex flex-col py-4 px-8">
						<a
							href="/docs"
							class={cn(
								"py-2 px-4 rounded-md",
								segment === "docs" ? "bg-gray-800" : "hover:bg-gray-900"
							)}
						>
							Documentation</a
						>
						<a
							href="/reference"
							class={cn(
								"py-2 px-4 rounded-md",
								segment === "reference" ? "bg-gray-800" : "hover:bg-gray-900"
							)}>API Reference</a
						>
					</nav>
					<div class="border-gray-700 border-b w-[calc(70%)] mx-auto"></div>
					<slot name="navigation" />
				</aside>

				<main
					class="dark:prose-invert prose pr-8 pl-12 overflow-auto min-w-full"
				>
					<slot />

					<p
						class="py-8 mt-8 border-t border-gray-700 text-gray-400 text-center"
					>
						Created with ❤️ by
						<a href="https://adityaborkar.com" class="text-blue-400">
							Aditya Borkar
						</a>
					</p>
				</main>

				<aside
					class="flex text-neutral-400 flex-col overflow-auto gap-2 px-8 border-gray-700"
				>
					<div
						class="mt-16 mb-4 uppercase tracking-wider text-xs text-gray-500 font-medium"
					>
						On This Page
					</div>

					<slot name="on-this-page" />
				</aside>
			</div>
		</div>
	</body>
</html>

<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: "Inter", system-ui, sans-serif;
		background: #13151a;
		background-size: 224px;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
