---
import GitHubLogo from "@/assets/GitHub.svg?raw";
import XLogo from "@/assets/X.svg?raw";
import { cn } from "@/lib/utils";

import "@/layouts/global.css";

interface Props {
	title: string;
	description: string;
	segment: string;
}

const { title, description, segment } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<base href="/" />
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="description" content={description} />
	</head>
	<body
		class="text-text-secondary h-screen antialiased bg-bg-primary cursor-default text-sm"
	>
		<header
			class="sticky top-0 z-50 backdrop-blur-sm border-b bg-bg-primary/80 border-neutral-700/50 w-full"
		>
			<div
				class="grid w-[80vw] max-w-[84rem] mx-auto grid-cols-3 px-4 py-2"
			>
				<a href="/" class="ml-8 py-2">
					<!-- <img
						src="/logo.svg"
						alt="letsync.dev"
						class="inline-block"
					/> -->
					<span
						class="text-xs ml-2 text-sky-400 tracking-wider font-bold inline"
					>
						ALPHA
					</span>
				</a>
				<div class="relative">
					<input
						type="text"
						placeholder="Search / AI Assistant"
						class="rounded-lg pl-10 pr-6 py-2 bg-bg-secondary border border-neutral-700/50 w-full"
					/>
					<div class="absolute top-2 left-3">
						<Fragment set:html={GitHubLogo} />
						<!-- TODO - SEARCH ICON -->
					</div>
				</div>

				<nav class="flex flex-row justify-end items-center gap-4 px-8">
					<a
						href="/docs"
						class={cn(
							"py-2 px-4 rounded-md text-text-secondary font-medium relative hover:bg-neutral-900",
							segment === "docs" &&
								"text-text-primary after:w-full after:absolute after:-bottom-2 after:left-0 after:border-b after:border-white",
						)}
					>
						Documentation
					</a>
					<a
						href="/reference"
						class={cn(
							"py-2 px-4 rounded-md text-text-secondary font-medium relative hover:bg-neutral-900",
							segment === "reference" &&
								"text-text-primary after:w-full after:absolute after:-bottom-2 after:left-0 after:border-b after:border-white",
						)}
					>
						Reference
					</a>
					<a
						href="https://x.com/adityab_tech"
						class="rounded-md size-8 p-1 hover:bg-bg-secondary"
					>
						<Fragment set:html={XLogo} />
					</a>
					<a
						href="https://github.com/AdityaBorkar/letsync"
						class="rounded-md size-8 p-1 hover:bg-bg-secondary"
					>
						<Fragment set:html={GitHubLogo} />
					</a>
				</nav>
			</div>
		</header>

		<aside
			class="fixed top-[3.5rem] left-[calc((100vw-48rem)/2-16rem)] w-[16rem] overflow-auto h-[calc(100vh-3.5rem)]"
		>
			<slot name="navigation" />
		</aside>

		<main
			class="dark:prose-invert prose mx-auto overflow-auto min-w-[48rem] text-sm"
		>
			<slot />

			<p class="py-10 mt-8 mb-1 border-t border-neutral-700 text-center">
				Created with ❤️ by
				<a
					target="_blank"
					href="https://adityaborkar.com"
					class="text-white underline-offset-4"
				>
					Aditya Borkar
				</a>
			</p>
		</main>

		<aside
			class="fixed top-[3.5rem] right-[calc((100vw-48rem)/2-16rem-4rem)] w-[16rem] overflow-auto h-[calc(100vh-3.5rem)]"
		>
			<slot name="on-this-page" />
		</aside>
	</body>
</html>
