---
import { getCollection } from "astro:content";
import BaseLayout from "./BaseLayout.astro";

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;

const allDocs = await getCollection("docs");

const pages = allDocs
	.map((doc) => {
		const group = doc.id.split("/");
		group.pop();
		return {
			href: `docs/${doc.id}`,
			index: doc.data.index,
			label: doc.data.title,
			group: group.join("/"),
		};
	})
	.sort((a, b) =>
		typeof a.index === "undefined" || typeof b.index === "undefined"
			? a.label.localeCompare(b.label)
			: a.index - b.index,
	);

const navigation = [
	{
		label: "Getting Started",
		items: pages.filter((page) => page.group === "getting-started"),
	},
	{
		label: "Adapters",
		items: [
			{
				label: "Framework",
				items: pages.filter(
					(page) => page.group === "adapters/framework",
				),
			},
			{
				label: "Client DB",
				items: pages.filter(
					(page) => page.group === "adapters/client-db",
				),
			},
			{
				label: "Server DB",
				items: pages.filter(
					(page) => page.group === "adapters/server-db",
				),
			},
			{
				label: "PubSub",
				items: pages.filter((page) => page.group === "adapters/pubsub"),
			},
		],
	},
	{
		label: "Contributing",
		items: pages.filter((page) => page.group === "contributing"),
	},
];
---

<BaseLayout segment="docs" title={`Docs | ${title}`} description={description}>
	<article class="min-h-[calc(100vh-8rem)]">
		<slot />
	</article>

	<slot slot="on-this-page" name="on-this-page" />

	<nav class="flex flex-col py-4 px-8" slot="navigation">
		{
			navigation.map(({ label, items }) => (
				<div class="flex flex-col mt-8 first:mt-0">
					<div class="text-xs ml-4 mb-2 text-gray-500 font-medium uppercase tracking-wider">
						{label}
					</div>
					{items.map((item) => {
						if ("href" in item)
							return (
								<a
									href={item.href}
									class="py-1 px-4 rounded-md hover:bg-gray-800"
								>
									{item.label}
								</a>
							);
						return (
							<>
								<div class="py-1 px-4 rounded-md hover:bg-gray-800">
									{item.label}
								</div>
								{item.items.map((subItem) => (
									<a
										href={subItem.href}
										class="ml-4 py-1 px-4 rounded-md hover:bg-gray-800"
									>
										{subItem.label}
									</a>
								))}
							</>
						);
					})}
				</div>
			))
		}
	</nav>
</BaseLayout>
