---
import { getCollection, render } from "astro:content";

import EditFile from "@/assets/EditFile.svg";
import ArrowUp from "@/assets/ArrowUp.svg";
import ChevronRight from "@/assets/ChevronRight.svg";
import DocsLayout from "@/layouts/DocsLayout.astro";

export async function getStaticPaths() {
	const pages = await getCollection("docs");
	return pages.map((page) => ({
		params: { slug: page.id },
		props: { page, group: page.id.split("/") },
	}));
}

const { page, group } = Astro.props;
const { Content, headings } = await render(page);
---

<DocsLayout title={page.data.title} description={page.data.description}>
	<p
		class="mt-8 pt-0.5 uppercase text-xs font-semibold tracking-wider text-neutral-500"
	>
		{
			group.map((item) => (
				// TODO: improve casing
				<>
					{item}
					<ChevronRight class="inline fill-neutral-600 -mt-1" />
				</>
			))
		}
	</p>

	<h1 class="mt-8">{page.data.title}</h1>

	<Content />

	<nav class="flex flex-col h-full gap-2" slot="on-this-page">
		<div
			class="mt-12 mb-4 uppercase tracking-wider text-xs text-text-primary font-medium"
		>
			On This Page
		</div>

		<ul class="grow">
			{
				headings.map((heading) => (
					<li>
						{/* TODO: Highlight if you are on that section */}
						<button
							type="button"
							class="block text-left hover:text-neutral-200 py-1"
							style={`padding-left: ${heading.depth - 2}rem`}
							data-scroll-to={`#${heading.slug}`}
						>
							{heading.text}
						</button>
					</li>
				))
			}
		</ul>

		<div class="border-t flex flex-col border-neutral-700/50 py-4">
			<a
				target="_blank"
				href={`https://github.com/AdityaBorkar/letsync/tree/stable/www/cms/docs/${page.id}.md`}
				class="group block px-4 py-2 hover:bg-bg-secondary hover:text-text-primary cursor-alias rounded-md"
			>
				<EditFile
					class="fill-neutral-500 inline-block size-5 mr-1 -mt-0.5 group-hover:fill-neutral-200"
				/>
				Edit this page on GitHub
			</a>
			<button
				data-scroll-to="body"
				type="button"
				class="group block text-left px-4 py-2 hover:bg-bg-secondary hover:text-text-primary rounded-md"
			>
				<ArrowUp
					class="fill-neutral-500 inline-block size-5 mr-1 -mt-0.5 group-hover:fill-neutral-200"
				/>
				Scroll to top
			</button>
		</div>
	</nav>
</DocsLayout>
