---
import { getCollection, render } from "astro:content";
import DocsLayout from "@/layouts/documentation/DocsLayout.astro";

export async function getStaticPaths() {
	const pages = await getCollection("docs");
	return pages.map((page) => ({
		params: { slug: page.id },
		props: { page, group: page.id.split("/") },
	}));
}

const { page, group } = Astro.props;
const { Content, headings } = await render(page);
---

<DocsLayout title={page.data.title} description={page.data.description}>
	<p class="mt-8 capitalize text-neutral-500">
		{group.join(" > ")}
		<!-- > {page.data.title} -->
	</p>

	<h1 class="mt-8">{page.data.title}</h1>

	<Content />

	<nav class="flex flex-col h-full gap-2" slot="on-this-page">
		<div
			class="mt-12 mb-4 uppercase tracking-wider text-xs text-text-primary font-medium"
		>
			On This Page
		</div>

		<ul class="grow">
			{
				headings.map((heading) => (
					<li>
						<a
							class="block hover:text-neutral-200 py-1"
							style={`padding-left: ${heading.depth - 2}rem`}
							href={`docs/${page.id}#${heading.slug}`}
						>
							{heading.text}
						</a>
					</li>
				))
			}
		</ul>

		<div class="border-t flex flex-col border-neutral-700 py-4">
			<a
				target="_blank"
				href={`https://github.com/letsync/letsync/tree/main/website/src/pages/${page.id}`}
				class="block px-4 py-2 hover:bg-bg-secondary hover:text-text-primary cursor-alias rounded-md"
			>
				<!-- EDIT LOGO -->
				Edit this page on GitHub
			</a>
			<button
				type="button"
				class="block text-left px-4 py-2 hover:bg-bg-secondary hover:text-text-primary rounded-md"
			>
				<!-- ARROW UP LOGO -->
				Scroll to top
			</button>
		</div>
	</nav>
</DocsLayout>
